<launch>
    <arg name="calib_path" default="/workspace/config/camera_pos.yaml"/> 
    <include file="$(find alpaca_bringup)/launch/robot_driver.launch" >
            <arg name="use_gripper" value="true"/>
            <arg name="fake" value="false"/>
    </include>
    <!--  launch realsense -->
    <include file="$(find alpaca_bringup)/launch/realsense.launch" >
        <arg name="output"              value="log"/>
        <arg name="enable_depth"        value="false"/>
        <arg name="filters"             value=""/>
        <arg name="enable_pointcloud"   value="false"/>
    </include>

    <node name="move_robot_node"  pkg="tf_broadcaster" type="move2calibrate.py" output="screen"/>
    <node name="calibrate_camera_node"  pkg="tf_broadcaster" type="calibrate_camera_pos.py" output="screen" >
        <param name='calib_path' value='$(arg calib_path)'/>
    </node>

</launch>